<header>
  <div class="title">
    <h1>TO-DO</h1>
    <h2>List</h2>
  </div>
  
  <div class="info">
    <h2>Luan Nascimento</h2>
    <p>luan.nascimento11@outlook.com</p>
  </div>
</header>
  
  <hr>
  <div class="add-todo">
    <input type="text" placeholder="Adicione uma Tarefa">
    <button>Adicionar</button>
  </div>

  <div class="columns">
      <ul>
        <li>Hit the gym</li>
        <li class="=checked">Pay Bills</li>
        <li>Meet Maria</li>
        <li>Read a book</li>
        <li>Organize office</li>
      </ul>
  </div>
